{# src/MyWeb/SiteBundle/Resources/views/Page/login.html.twig #}
{% extends 'MyWebSiteBundle::layout.html.twig' %}

{%  block content %}
    <section class="main-col">
        {% block body %}
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="acme_security_admin" value="account" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit">login</button>
            </form>
        {% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}Side Bar{% endblock %}
    </aside>
{% endblock %}