{# src/MyWeb/SiteBundle/Resources/views/Page/login.html.twig #}
{% extends 'MyWebSiteBundle::layout.html.twig' %}

        {% block body %}
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}
            <section id="login">
            <form action="{{ path('login_check') }}" method="post" >
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="acme_security_admin" value="account" />
                </br>
                <button type="submit">login</button>
            </form>
            </section>
        {% endblock %}