
<section id="data">
    <table border="1px" style="width:700px">
        <tr>
            <th align="center" bgcolor="#CCC">Email</th>
            <th align="center" bgcolor="#CCC">Body</th>
        </tr>
    {% for item in enquiry %}
        <tr>
            <td bgcolor="#ffffff">{{ item.email }}</td>
            <td bgcolor="#ffffff">{{ item.body }}</td>
        </tr>
    {% else %}
        <h2>Aoutch ! No data !</h2>
    {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(enquiry) }}
    </div>
</section>